#google-image
	{
    	width: 300px;
   		height: 95px;
    	margin-bottom: 20px;
		margin-left:20px;
    	display: block;
		
	}
div
	{
		display:block;
	}
.NavBar
	{
		float: right;	
		margin:  7px 15px 0 0;
	}

.cf:before, .cf:after
	 {
   		content: " ";
        display: table;
}
.cf:after 
	{
        clear: both;
    }


li 
	{
   		display: inline-block;
    	vertical-align: middle;
    	margin-right: 10px;
		text-align: -webkit-match-parent;
	}
ul li:nth-child(4), ul li:nth-child(5),ul li:nth-child(6)
	{
		min-width:30px;
		min-height:30px;	
		
	}
center {
    display: block;
    text-align: -webkit-center;
}
.Notifications
	{
		 background-image: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png);
		 background-position: -69px -69px;
		 position:absolute;
		 width:30px;
		 height:30px;
	}
.Menu
	{
		background-image: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png);
		background-position: -69px -854px;
		position:absolute;
		width:30px;
		height:30px;
	}
.Me, .Mail,.Images
	{
		font-size: 13px;
		font-family: arial,sans-serif;
		
	}
.Account 
	{	
		background-image:url(https://lh3.googleusercontent.com/-xqRCfR5Jh7M/AAAAAAAAAAI/AAAAAAAAApQ/S2Oxy4TE4SE/s60-p-rw-no/photo.jpg);
		width: 32px;
    	height: 32px;
   		background-size: 32px 32px;
		border-radius:50%;
		position: absolute;
		
	}
#inputLine
	{
		resize: none;
		height: 38px;
		width: 540px;
		display:inline-block;
		border-top: 1px solid #dcdcdc;
    	border-right: none;
    	border-bottom: 1px solid #dcdcdc;
    	border-left: 1px solid #dcdcdc;
		
		
	}
.Search
	{
		margin-top: 150px;
			
	}

#searchform
	{
		width: 602px;
    	height: 40px;
		margin-bottom:15px;
	}
#keyboard
	{
		display:inline-block;
		float:right;
		width: 30px;
   		height:  40px;
    	border-top: 1px solid #dcdcdc;
    	border-right: none;
    	border-bottom: 1px solid #dcdcdc;
    	border-left: none;
	}
#microphone
	{
		display:inline-block;
		float:right;	
		width: 30px;
   		height:  40px;
    	border-top: 1px solid #dcdcdc;
    	border-right: 1px solid #dcdcdc;
    	border-bottom: 1px solid #dcdcdc;
    	border-left: none;
	}
.SearchButton, .LuckyButton
	{
		width:100;
		height:40px;	
		background-color:#E7E4E4;
		border:none;
		font-size:11px;
		
	}
#bottomPanel
	{	
		position: absolute;
		bottom: 0;
		background-color: #f2f2f2 ;
		border-top: 1px solid #dcdcdc;
		width:100%;
		height: 40px;
		display:inline-block;

		
	}
#leftBottom
	{
		display:inline-block;
		margin-left: 27px;
		left: 0;
		positiom: absolute;
	}
#rightBottom
	{
		display:inline-block;
		right:0;
		margin-right: 30px;
		position:absolute;
	}
body
	{
		margin: 0px;	
	}
#bottomPanel>*>*
	{
		margin: 10px;
		margin-top: 12px;
		display:inline-block;
		positiom: absolute;
		font-size: small;
		font-family: arial,sans-serif;
		

	}
#bottomPanel a
	{
		color: #666;	
	}
#rightBottom a, .NavBar a{
    text-decoration: none;
    white-space: nowrap;
}
a:visited
	{
		color: #931;	
	}